#![enable(implicit_some)]
Container(
    transform: (
        id: "menu_newgame_screen",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0.),
        width: 1920.,
        height: 1080.,
    ),
    background: (
        image: Data(Rgba((0.117, 0.231, 0.333, 1.0), ())),
    ),
    children: [
        Text(
            transform: (
                id: "menu_newgame_screen_title",
                anchor: TopMiddle,
                x: 0.,
                y: -128.,
                width: 600.,
                height: 50.,
                transparent: true,
            ),
            text: (
                text: "New Game Loading",
                font_size: 25.,
                color: (0.515, 0.650, 0.658, 1.),
                font: File("Assets/Fonts/square.ttf", Ttf, ()),
            ),
        ),
        // Back Button
        Button(
            transform: (
                id: "menu_newgame_back_button",
                y: 120.,
                width: 128.,
                height: 64.,
                tab_order: 1,
                anchor: BottomMiddle,
                mouse_reactive: true,
            ),
            button: (
                text: "Back",
                font: File("Assets/Fonts/square.ttf", Ttf, ()),
                font_size: 20.,
                normal_text_color: (0.4, 0.4, 0.55, 1.0),
                normal_image: File("Assets/Ui/UiElements/Button_normal.png", Png, ()),
                hover_image: File("Assets/Ui/UiElements/Button_hovered.png", Png, ()),
                press_image: File("Assets/Ui/UiElements/Button_pressed.png", Png, ()),
                hover_sound: None,
                press_sound: None,
            )
        ),
    ]
)